<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shop</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">anmu</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>  
		<!--  
		<property name="show_sql">true</property> 
        <property name="format_sql">true</property>
        -->
		<property name="hbm2dd1.auto">update</property>
		<mapping resource="ssh/vo/User.hbm.xml" />
		<mapping resource="ssh/vo/Brand.hbm.xml" />
		<mapping resource="ssh/vo/Version.hbm.xml" />
		<mapping resource="ssh/vo/Product.hbm.xml" />
		<mapping resource="ssh/vo/Order.hbm.xml" />
		<mapping resource="ssh/vo/OrderItem.hbm.xml" />
		<!-- 后台 -->
		<mapping resource="ssh/vo/Is_ad_AdminUser.hbm.xml"/>
	</session-factory>
</hibernate-configuration>